@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 180 100% 94.1%;
    --foreground: 240 10% 3.9%;
    --card: 180 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 180 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 180 20% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 180 15% 88%;
    --muted-foreground: 240 5% 45%;
    --accent: 180 25% 25.1%;
    --accent-foreground: 180 25% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 80%;
    --input: 180 10% 85%;
    --ring: 195 100% 50%;
    --chart-1: 195 100% 50%;
    --chart-2: 180 25% 25.1%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 195 100% 50%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 25% 25.1%;
    --accent-foreground: 180 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 195 100% 50%;
    --chart-1: 195 100% 50%;
    --chart-2: 180 25% 25.1%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 195 100% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
